networks:
  proxy:
    external: true

services:
  clawboard:
    networks:
      - default
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.clawboard.rule=Host(`${CLAWBOARD_HOST:-clawboard.localhost}`)"
      - "traefik.http.routers.clawboard.entrypoints=${TRAEFIK_ENTRYPOINTS:-web}"
      - "traefik.http.routers.clawboard.tls=${TRAEFIK_TLS:-false}"
      - "traefik.http.services.clawboard.loadbalancer.server.port=3001"
      - "traefik.docker.network=${TRAEFIK_DOCKER_NETWORK:-proxy}"
